@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue: #0abde3;
    --darkblue: #00004C;
    --light-color: #666;
    --bg: #e4e2e2;
    --white-color: #ffffff;
    --border: 0.1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 50%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    margin-top: 10%;
    padding: 2rem 9%;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 5rem;
}

.heading {
    margin-top: 4%;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 5rem;
    color: var(--darkblue);
}

.heading span {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    z-index: 0;
}

.heading span::before {
    content: '';
    position: absolute;
    bottom: 1.2rem;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--blue);
    clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
    z-index: -1;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    background: var(--darkblue);
    border-radius: .5rem;
    text-decoration: none;
}

.btn:hover {
    background: var(--blue);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 8%;
    background: var(--darkblue);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    font-weight: bolder;
}

.header .navbar a {
    text-decoration: none;
    margin-left: 2rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.header .navbar a:hover {
    color: var(--blue);
}

#menu-btn {
    cursor: pointer;
    color: #fff;
    font-size: 3rem;
    display: none;
}

.home {
    padding-top: 9rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .image {
    flex: 1 1 42rem;
}

.home .image img {
    width: 100%;
}

.home .content {
    flex: 1 1 42rem;
}

.home .content h3 {
    color: var(--darkblue);
    font-size: 5rem;
    line-height: 1.8;
}

.home .content p {
    color: var(--light-color);
    font-size: 2rem;
    text-align: justify;
    line-height: 1.8;
    padding: .5rem 0;
}

.about .row,
.contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row .image,
.contact .row .image {
    flex: 1 1 42rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 43rem;
}

.about .row .content h3 {
    text-align: center;
    color: var(--darkblue);
    font-size: 4.5rem;
    line-height: 1.8;
}

.about .row .content p {
    text-align: justify;
    color: var(--light-color);
    font-size: 2.4rem;
    line-height: 1.8;
    padding: 1rem 0;
}

.contact .row .image img {
    width: 80%;
    margin-left: 10%;
}

.contact .row form {
    flex: 1 1 42rem;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
}

.contact .row form h3 {
    color: var(--darkblue);
    font-size: 3rem;
}

.contact .row form .box {
    width: 100%;
    margin: .8rem 0;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    border: var(--border);
    text-transform: none;
    font-size: 1.4rem;
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}

.contact .row form .box:focus,
.contact .row form .box:hover {
    border-color: var(--blue);
}

.programs .box-container,
.register .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

/* .register .box-container {
    margin-top: 5%;
} */

.programs .box-container .box,
.register .box-container .box {
    text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register .box-container .box {
    margin-top: 5%;
}

.programs .box-container .box img,
.register .box-container .box img {
    height: 20rem;
}

.programs .box-container .box h3,
.register .box-container .box h3 {
    font-size: 2.3rem;
    color: var(--darkblue);
}

.register p {
    font-size: 2.3rem;
    text-indent: 5%;
    color: var(--darkblue);
    text-align: justify;
}

.programs .box-container .box p,
.register .box-container .box p {
    text-align: justify;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1 rem 0;
    line-height: 1.8;
}

.plans .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}


.plans .box-container .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plans .box-container .box .title {
    font-size: 2rem;
    color: var(--darkblue);
}

.plans .box-container .box img {
    height: 20rem;
}

.plans .box-container .box .price {
    font-size: 6rem;
    color: var(--darkblue);
    font-weight: bolder;
}

.plans .box-container .box .price span {
    font-size: 2.5rem;
    font-weight: normal;
}

.plans .box-container .box ul {
    padding: 1rem 0;
    list-style: none;
}

.plans .box-container .box ul li {
    padding: 1rem 0;
    font-size: 1.7rem;
    color: var(--light-color);
}

.footer {
    text-align: center;

}

.contact .share {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.contact .share a {
    color: var(--darkblue);
    font-size: 4rem;
    margin: 1rem;
    text-decoration: none;
}

.contact .share a:hover {
    color: var(--blue);
}

.footer .credit {
    padding: 2rem 1rem;
    text-align: center;
    font-size: 2rem;
    color: var(--darkblue);
}

.footer .credit span {
    color: var(--blue);
}
































/*media queries*/
@media only screen and (max-width:1090px) {
    html {
        font-size: 55%;

    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media only screen and (max-width:822px) {
    #menu-btn {
        display: initial;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--darkblue);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        font-size: 2.5rem;
        margin: 2.5rem 2rem;
        display: block;
    }
}

@media only screen and (max-width:450px) {
    html {
        font-size: 50%;

    }
}