@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('./main.css');

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;

    height: 100%;
    width: 100%;
    background: var(--white-color);
    padding: 20px 30px;
    border-radius: 4px;
    overflow: auto;
}

.form{
    display: grid;
    grid-template-rows: 1fr 40px;
}

.container::-webkit-scrollbar {
    width: 4px;
}

.container::-webkit-scrollbar-thumb {
    background:var(--main-color);
    border-radius: 50px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 20px;
    margin: 10px 0;
}

.input {
    margin: 4px 0;
}

.content.requirements .input.hard_copy label {
    color: red;
    font-size: 16px;
    font-weight: 600;
}

.content.requirements .input:not(.twobytwo, .hard_copy)::before {
    content: '*';
}

.content.requirements .note{
    font-size: 14px;
    font-style: italic;
    color: #808080;
    margin-right: 10px;
} 

.col-span2 {
    grid-column: span 2;
}

.requirements {
    padding: 20px;
}

p {
    height: 30px;
}

.hidden {
    display: none;
}

.header h3 {
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #757575;
}

form label {
    font-size: 14px;
}

input, select {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #c2c2c2;
    margin-top: 2px;
    border-radius: 4px;
    text-transform:none;
}

input:focus, select:focus {
    outline: none;
}

input[type="radio"] {
    height: 16px;
    width: 16px;
    margin: 0 10px;
    margin-top: 4px;
    accent-color: var(--main-color)
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .back {
    height: 30px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background: #ffff;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    color: gray;
}

.footer .next {
    height: 30px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    border: 1px solid #c2c2c2;
    color: #ffff;
    cursor: pointer;
}

.required::after {
    content: "*";
    color: red;
    padding: 0 6px;
}

input[type="file"] {
    border-style: dashed;
    border-color: var(--main-color);
    padding: 2px;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
    height: 100%;
    border-radius: 4px;
    border: none;
    background: var(--main-color);
    color: #ffff;
    cursor: pointer;
}

input[type="file"]:disabled::-webkit-file-upload-button {
    all: unset;
    display: none;
}


.cell-container {
    display: flex;
    align-items: center;
}

.cell-container span {
    height: 30px;
    font-size: 12px;
    margin-top: 2px;
    padding: 4px;
    border: 1px solid #c2c2c2;
    display: flex;
    align-items: center;
    margin-right: -2px;
}

.footer .note{
    font-size: 14px;
    font-style: italic;
    color: #808080;
    margin-right: 10px;
} 
.name {
    display: flex;
    column-gap: 10px;
}
.gender-side .align {
    display: flex;
    justify-content: center;
}
@media (max-width: 680px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    .name {
        flex-direction: column;
    }
    .name input {
        margin: 4px 0;
    }
}

@media (max-width: 556px) { 
    .header h3 {
        font-size: 20px;
    }
    .footer .note{
        font-size: 12px;
    }
}

@media (min-width: 557px) and (max-width: 768px) { 
    .header h3 {
        font-size: 22px;
    }
}