@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto';
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr;
    overflow: auto;
}

.header {
    display: flex;
}

.header form {
    display: flex;
    align-items: center;
    flex: 1;
    column-gap: 10px;
}

.header form:nth-child(2) {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 2px solid #2a2aa5;;
}

input[type="file"] {
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
    height: 100%;
    border-radius: 4px;
    border: none;
    background:  #2a2aa5;
    color: #ffff;
    cursor: pointer;
}

input[type="file"]:disabled::-webkit-file-upload-button {
    all: unset;
    display: none;
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-thumb {
    background:  #00004C;
    border-radius: 50px;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 50px;
    font-size: 14px;
}

.action form{
    display: inline-block
}

.action button {
    padding: 6px;
    border: none;
    border-radius: 4px;
    color: #ffff;
    width: 50px;
}

button {
    cursor: pointer;
}

.action button[name='save'], .action button[name='saveAPay'] {
    background: #017E00;
    margin: 4px 0;
}

.action button[name='delete'], .action button[name='deleteAPay'] {
    background: rgb(245, 41, 41);
}

.header {
    background: #ffff;
    padding: 10px 20px;
    position: fixed;
    right: 0;
    left: 0;
}

.header input {
    height: 30px;
    padding: 0 4px;
    text-transform: capitalize;
}

.header button {
    height: 30px;
    padding: 0 20px;
    background:  #00004C;
    color: #ffff;
    border: none;
    border-radius: 4px;
}

table tr th {
    padding: 10px 0;
    background: #e4e2e2;  
}

.thead {
    position: sticky;
    top: 50px;
    z-index: 1;
}

table tr td {
    background-color: #ffff;
    padding: 4px 0;
    border-bottom: 1px solid gray;
}

select {
    padding: 4px;
    border-radius: 4px;
    background: #002941;
    color: #ffff;
}

select option {
    background: #ffff;
    color: black;
}

input[type='date'] {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #00004C;
    margin-left: 4px;
}

.date div{
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-content: space-between;
    margin: 2px 10px;
}

textarea {
    width: 90%;
    padding: 0 4px;
}