@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('./main.css');


.container {
    height: 100%;
    max-height: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    background: #ffff;
    border-bottom: 1px solid var(--main-color);
}

.content {
    display: grid;
    grid-template-columns: 300px 1fr;

    column-gap: 10px;
    margin: 0 auto;
    padding: 10px;
}

.frame-container {
    width: 800px;
    height: 450px;
}

img {
    height: var(--logo-size);
    margin: 0 10px;
}

.header h3 {
    font-size: 30px;
}

.h-left, .h-right {
    display: flex;
    align-items: center;
}


.need-help {
    font-size: 12px;
    margin: 0 10px;
    color: gray;
    cursor: pointer;
}

.need-help:hover {
    text-decoration: underline;
}

.help-icon {
    background: gray;
    color: #ffff;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content .left-side {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    padding: 0 20px;
}

.content .left-side .title {
    border-bottom: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
}

.content .left-side .title h3 {
    font-size: 24px;
}

.content .left-side .title p {
    font-size: 14px;
}

.content .left-side .list-container {
    margin-top: 20px;
}

.content .left-side .list {
    font-size: 18px;
    height: 50px;
    border-left: 4px solid #c9c9c9;
    
    padding-left: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

.content .left-side .list:nth-child(1) {
    border-left:4px solid var(--main-color);
    font-weight: bold;
}

.content .left-side .list:not(:nth-child(1)) {
    color: #808080;
    font-size: 14px;
}

.content .right-side {
    border-radius: 10px;
    margin: auto 0;
    box-shadow: 0.5px 0.5px 6px gray;
}


@media (max-width: 576px) {

    
    .left-side .title p {
        display: none;
    }

    .left-side .title h3 {
        text-align: center;
    }

    .container {
        overflow: hidden;
        grid-template-rows: 40px 1fr;
        margin: 0 10px;
        
    }

    .content {
        padding: 0;
        overflow: hidden;
        grid-template-columns:1fr;
        grid-template-rows: 40px 1fr;
        row-gap: 10px;
    }

    .content .left-side {
        grid-template-rows: 1fr;
    }

    .content , .right-side{
        width: 100%;
        height: 100%;
    }
    .content .frame-container {
        width: 100%;
        height: 100%;
    }
    .header {
        padding: 10px 20px;
    }
    .header h3 {
        font-size: 24px;
    }
    img {
        height: 30px;
    }
    .need-help {
        font-size: 10px;
    }
    .help-icon {
        padding: 8px;
        height: 14px;
        width: 14px;
    }
    .content .left-side .list-container{
        display: none;
    }
    
    .content .left-side .title h3 {
        font-size: 18px;
    }

    .content .left-side .title p {
        font-size: 12px;
    }
  }

@media (min-width: 577px) and (max-width: 768px) {

    .content {
        grid-template-columns:1fr;
        grid-template-rows: 80px 1fr;
    }
    .content .frame-container {
        width: 500px;
    }
    
    .content , .right-side{
        width: 100%;
        height: 100%;
    }

    .content .frame-container {
        width: 100%;
        height: 100%;
    }

    .container {
        grid-template-rows: 50px 1fr;
    }

    .content .left-side {
        grid-template-rows: 60px;
    }

    .content .frame-container {
        width: 100%;
        height: 100%;
    }

    .content .left-side .list-container{
        display: none;
    }

    .header h3 {
        font-size: 26px;
    }
    .header {
        padding: 10px 20px;
    }

    .content .left-side .title h3 {
        font-size: 20px;
    }
    img {
        height: 40px;
    }
    .need-help {
        font-size: 10px;
    }
    .help-icon {
        padding: 8px;
        height: 14px;
        width: 14px;
    }
}

@media (min-width: 768px) {
    .content .frame-container {
        width: 600px;
    }

    .content {
        display: flex;
    }

    .content .left-side {
        display: none;
    }

    .content .left-side {
        display: block;
    }
}

@media (min-width: 1024px) {
    .content .frame-container {
        width: 800px;
    }
}
