@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('./main.css');


.container {
    height: 100%;
    max-height: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    background: #ffff;
    border-bottom: 1px solid var(--main-color);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;

}

.frame-container {
    width: 800px;
    height: 450px;

    border-radius: 10px;
    margin: auto 0;
    box-shadow: 0.5px 0.5px 6px gray;
}

img {
    height: var(--logo-size);
    margin: 0 10px;
}

.header h3 {
    font-size: 30px;
}

.h-left, .h-right {
    display: flex;
    align-items: center;
}


.need-help {
    font-size: 12px;
    margin: 0 10px;
    color: gray;
    cursor: pointer;
}

.need-help:hover {
    text-decoration: underline;
}

.help-icon {
    background: gray;
    color: #ffff;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    .container {
        grid-template-rows: 40px 1fr;
    }
    .content {
        overflow: hidden;
        margin-top: 10px;
    }
    .content .frame-container {
        width: 100%;
        height: 100%;
        margin: 0 10px;
    }
    .header {
        padding: 10px 20px;
    }
    .header h3 {
        font-size: 24px;
    }
    img {
        height: 30px;
    }
    .need-help {
        font-size: 10px;
    }
    .help-icon {
        padding: 8px;
        height: 14px;
        width: 14px;
    }
  }

@media (min-width: 577px) and (max-width: 768px) {
    .container {
        grid-template-rows: 50px 1fr;
    }

    .content .frame-container {
        width: 560px;
        height: 90%;
        margin: 0 10px;
    }
    .header h3 {
        font-size: 26px;
    }
    .header {
        padding: 10px 20px;
    }
    img {
        height: 40px;
    }
    .need-help {
        font-size: 10px;
    }
    .help-icon {
        padding: 8px;
        height: 14px;
        width: 14px;
    }
}

@media (min-width: 768px) {
    .content .frame-container {
        width: 600px;
    }
}

@media (min-width: 1024px) {
    .content .frame-container {
        width: 800px;
    }
}
