@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    height: 100vh;
}

.container {
    height: 100vh;
    width: 100%;
    background: var(--white-color);
    border-radius: 4px;
    align-items: center;
}

.container form{
    background: #ffff;
   padding: 20px;
}

.header h3 {
    font-size: 24px;
    padding-bottom: 10px;
}

input, button {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #c2c2c2;
    margin-top: 2px;
    border-radius: 4px;
    text-transform: capitalize;
}

input:focus, textarea:focus {
    outline: none;
}

input, textarea {
    margin: 4px 0;
    padding: 0 10px;
    border-radius: 4px;
    border-color: #00004C;
}

textarea {
    height: 100px;
    padding: 10px;
    width: 100%;
}

button {
    color: #ffff; 
    background-color: #00004C;
}


.student {
    display: flex;
    column-gap: 10px;
}