@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto';
    overflow-x: hidden;
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
}

.container .left_side {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.container .left_side .top,
.container .left_side .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .left_side .verification_count,
.container .left_side .payment_count{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.container .left_side .verification_count {
    background: #ffff;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-image: linear-gradient(to right, red, blue) 1;
    color: black;
}

.container .left_side .payment_count {
    background: #ffff;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(to right, red, blue) 1;
    color: black;
}

.container .left_side .verification_count .count,
.container .left_side .payment_count .count {
    font-size: 50px;
}

.right_side {
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(to right, red, blue) 1;
    margin: 50px;
}

/* CHART */

.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 660px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}