@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('./main.css');

.container {
    height: 100%;
}

.card-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}

.card {
    background: #ffff;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px 100px;
    align-items: center;
    justify-items: center;
    box-shadow: 0.5px 0.5px 6px gray;
    transition: 0.5s;
}

.img_container {
    height: 150px;
    width: 150px;
    background: var(--main-color);
    border-radius: 50%;
}

img {
    height: 150px;
}

.type_student {
    font-size: 24px;
    font-weight: bold;

}

button {
    height: 40px;
    width: 80%;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    background: var(--main-color);
    color: #ffff;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.2);
    padding: 0 10px;
}

button:hover {
   background: #00004cc2;
   border: 1px solid var(--main-color);
   
}


@media (max-width: 576px) {
    .card-container {
        flex-direction: column;
        row-gap: 50px;
        margin: 0 20px;
    }

    .card {
        background: #ffff;
        height: 200px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 20px;
        text-align: center;
    }
    .card .img_container {
        grid-row: span 2;
    }

    .card button {
        grid-column: 2;
        margin-bottom: 50px;
    }

    .card .type_student{
        margin-top: 50px;
    }
        
    .img_container {
        height: 120px;
        width: 120px;
        background: var(--main-color);
        border-radius: 50%;
    }

    img {
        height: 120px;
    }

    .type_student {
        font-size: 20px;
        font-weight: bold;

    }
    .card:hover {
        transform: scale(1.05);
    }
    button {
        font-size: 14px;
        padding: 0 10px;
    }
  }

@media (min-width: 577px) and (max-width: 768px) {
    .card-container {
        flex-direction: column;
        row-gap: 50px;
    }

    .card {
        background: #ffff;
        height: 200px;
        width: 500px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: auto 0;
    }

    .card .img_container {
        grid-row: span 2;
    }

    .card button {
        grid-column: 2;
        margin-bottom: 50px;
    }

    .card .type_student{
        margin-top: 50px;
    }
      
    .card:hover {
        transform: scale(1.1);
    }

}