@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto';
}

.container {
    height: 100vh;
    overflow: auto;
}

body::-webkit-scrollbar {
    width: 0;
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-thumb {
    background:  #00004C;
    border-radius: 50px;
}


table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 14px;
}

table tr th {
    padding: 10px 0;
    background: #ffff;
    border-bottom: 1px solid gray;  
}

table tr td {
    background-color: #ffff;
    padding: 4px 0;
    border-bottom: 1px solid gray;
}

.thead {
    position: sticky;
    z-index: 1;
}