@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('Admission_Form.css');

/*MODIFIED CSS IN ADMISSION FORM*/

.container {
    grid-template-rows: 1fr;
}

.form{
    height: 100%;
    grid-template-rows: 1fr;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 20px;
    margin: 10px 0;
}

/*--------------------------------*/

html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto';
}

.container_parent {
    height: 100svh;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
    padding: 0;
}  


body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-thumb {
    background:#00004C;
    border-radius: 50px;
}


.left {
    background-color: #ffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    box-shadow: 1px 1px 10px #00004C;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    justify-content: space-between
}

.top .name {
    flex-direction: column;
}

.name p {
    text-align: center;
    padding: 4px 0;
}

.name p:nth-child(2) {
    font-size: 12px;
}

.img_container {
    background: #00004C;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.img_container img {
   object-fit: cover;
   height: 100%;
   width: 100%;
}

.bottom {
    line-height: 50px;
}

.bottom div{
    display: flex;
    justify-content: space-between;
}

.right {
    background-color: #ffff;
    box-shadow: 1px 1px 6px gray;
}

.right .main {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.nav_bar {
    display: flex;
    column-gap: 30px;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid #00004C;
}

.nav_bar div {
    cursor: pointer;
}

@media only screen and (max-width: 680px) {
    .left {
        font-size: 14px;
    }

    input, .cell-container {
        width: 90%;
    }

    .container_parent {
        padding: 0;
        overflow-x: hidden;
    }

    .content {
        display: flex;
        flex-direction: column;
    }
    .name {
        flex-direction: column;
    }
    .name input {
        margin: 4px 0;
    }

    .right label {
        font-size: 6px;
    }
}

@media (max-width: 556px) { 
    .header h3 {
        font-size: 20px;
    }
    .footer .note{
        font-size: 12px;
    }
}

@media (min-width: 557px) and (max-width: 768px) { 
    .left .name p{
        font-size: 12px;
    }
}

@media (max-width: 895px) {
    .container_parent{
        grid-template-rows: 16% 1fr;
        row-gap: 20px;
        grid-template-columns: 1fr;
    }
    .left {
        width: 100vw;
        display: flex;
        justify-content: space;
        height: 100%;
        padding: 0;
    }

    .top {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .top .img_container {
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 1020px) {
    *, .right label {
        font-size: 14px;
    }
}
