@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue: #0abde3;
    --darkblue: #00004C;
    --light-color: #666;
    --bg: #e4e2e2;
    --white-color: #ffffff;
    --border: 0.1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    overflow: hidden;
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100svh;
    background-color: #fff;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.container::before {
    content: '';
    position: absolute;
    width: 4000px;
    height: 4000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, var(--darkblue), var(--blue));
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.student-admin {
    position: absolute;
    top: 30vw;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
}

form.login-student {
    z-index: 100;
}

form.login-admin {
    z-index: 2;
    opacity: 0;
}

.title {
    font-size: 1rem;
    color: var(--darkblue);
    margin-bottom: 10px;
}

.title:hover {
    color: var(--blue);
}

.input-field {
    position: relative;
    max-width: 250px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: flex;
    grid-template-columns: 15% 80%;
    padding: 0.4rem;
    /* Ensure input fields have a higher z-index */
    z-index: 10;
}

.input-field input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: .8rem;
    color: var(--darkblue);
}

.input-field input {
    width: 100%;
}

.input-field input::placeholder {
    color: var(--light-color);
    font-weight: 500;
}

.input-field i {
    display: flex;
    text-align: center;
    line-height: 40px;
    color: var(--light-color);
    font-size: 1rem;
    padding: .15rem .9rem;
    cursor: pointer;
}

.input-field i:hover {
    color: var(--blue);
}

.fa-eye,
.fa-eye-slash {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-solid {
    text-decoration: none;
    margin-top: 2rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: var(--white-color);
    background: var(--darkblue);
    border: none;
    border-radius: .5rem;
    text-transform: lowercase;
    transition: .5s;
    /* Ensure buttons have a higher z-index */
    z-index: 10;
}

.btn-solid:hover {
    background: var(--blue);
}

.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 7;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content {
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel p {
    font-size: 0.8rem;
    padding: 0.7rem 0;
}

.btn.transparent {
    background: #fff;
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--darkblue);
    border: var(--border);
    border-radius: .5rem;
    text-transform: lowercase;
    transition: all ease-in-out 100ms;
    /* Ensure buttons have a higher z-index */
    z-index: 10;
}

.btn.transparent:hover {
    background: var(--blue);
    color: #fff;
}

.image {
    margin-top: 5%;
    width: 100%;
    transition: 1.1s .4s ease-in-out;
}

.right-panel .content,
.right-panel .image {
    transform: translateX(800px);
}

.container.admin-mode::before {
    transform: translate(100%, -50%);
    right: 52%;
}

.container.admin-mode .left-panel .image,
.container.admin-mode .left-panel .content {
    transform: translateX(-800px);
}

.container.admin-mode .right-panel .content,
.container.admin-mode .right-panel .image {
    transform: translateX(0px);
}

.container.admin-mode .left-panel {
    pointer-events: none;
}

.container.admin-mode .right-panel {
    pointer-events: all;
}

.container.admin-mode .student-admin {
    left: 25%;
}

.container.admin-mode form.login-student {
    z-index: 1;
    opacity: 0;
}

.container.admin-mode form.login-admin {
    z-index: 2;
    opacity: 1;
}


@media only screen and (max-width: 870px) {
    .container::before {
        top: -60%;
        height: 3000px;
        right: 30%;
    }

    .container.admin-mode::before {
        transform: translate(100%, -50%);
        right: 70%;
        /* Adjust this value as needed */
    }

    .form.admin-login {
        margin-left: 20%;
    }

    .student-admin {
        width: 100%;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
        pointer-events: all;
    }

    .container.admin-mode .left-panel,
    .container.admin-mode .right-panel {
        position: relative;
        z-index: 7;
    }

    .image {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    .image {
        display: none;
    }

    .student-admin {
        top: 60%;
        transform: translate(-50%, -50%);
        transition: 1s 0.8s ease-in-out;
        pointer-events: all;
    }

    .container::before {
        height: 2500px;
    }


    .container.admin-mode .left-panel,
    .container.admin-mode .right-panel {
        position: relative;
        z-index: 7;
    }
}

@media only screen and (max-width: 570px) {

    .container::before {
        top: -40%;
        height: 2500px;
        right: 30%;
    }

    .btn.transparent{
        padding: 10px 20px;
    }

    .panels-container, .btn.transparent {
        margin-left: -10px;
    }

    .panel .content{
        margin-left: -10px;
    }


    .right-panel, .right-panel .btn.transparent {
        position: static;
        margin-right: -30px;
    }

    .container.admin-mode::before {
        transform: translate(100%, -50%);
        right: 70%;
        /* Adjust this value as needed */
    }


    .student-admin {
        top: 100vw;
        transform: translate(-50%, -50%);
        transition: 1s 0.8s ease-in-out;
        pointer-events: all;
    }

    .container.admin-mode .left-panel,
    .container.admin-mode .right-panel {
        position: relative;
        z-index: 7;
    }

    .form .login-admin{
        margin-right: -1000px;
    }

    form.login-admin {
        margin-right: -175px;
    }

    .login-student .input-field {
        border-radius: 55px 4px 4px 55px;
    }
   
}
