@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue: #0abde3;
    --darkblue: #00004C;
    --light-color: #666;
    --bg: #e4e2e2;
    --white-color: #ffffff;
    --border: 0.1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    margin: 0;
}

.button {
    display: flex;
    justify-content: end;
    margin: 0 5%;
    margin-bottom: 10px;
}

button.back-all-button {
    margin-top: 1%;
    transform: translateY(1vh);
    color: var(--white-color);
    background: var(--darkblue);
}

button.back-all-button:hover {
    color: var(--white-color);
    background: var(--blue);
}

.form-container {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.info-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.info-card p {
    margin: 5px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-card span {
    flex: 1 1 30%;
    min-width: 150px;
}

.back-all-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.tables-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 48%;
    min-width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 2vh;
}

.table-container {
    overflow-y: auto;
    flex-grow: 1;
}

.t-content {
    width: 100%;
    border-collapse: collapse;
}

.t-content th,
.t-content td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.t-content td button {
    background: var(--darkblue);
    border-radius: 5px;
    color: var(--white-color);
    padding: 5px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
}

.pagination button {
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .tables-container {
        flex-direction: column;
    }

    .table-wrapper {
        min-width: 100%;
    }
}