@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue: #0abde3;
    --darkblue: #00004C;
    --light-color: #666;
    --bg: #e4e2e2;
    --white-color: #ffffff;
    --border: 0.1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    /* text-transform: capitalize; */
    transition: all 0.2s linear;
}

body {
    /* min-height: 150vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
}

.form-container {
    border: var(--border);
    padding: 10px 20px;
    width: 100%;
    /* Adjust as needed */
    background-color: #f9f9f9;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.form-header h2 {
    margin: 0;
}

.form-header .view-all-button,
.form-header .back-all-button {
    padding: 1rem 2rem;
    border: none;
    background: var(--darkblue);
    color: white;
    border-radius: 0.4rem;
    cursor: pointer;
}

.form-header .view-all-button:hover,
.form-header .view-all-button:hover {
    background: var(--blue);
}

.form-section {
    margin-bottom: 2rem;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
}

.form-row label {
    flex: 1 1 100%;
    margin-right: 1rem;
}

.form-row input,
.form-row select {
    flex: 2 1 70%;
    /* Adjust as needed */
    width: 100%;
    padding: 0.8rem;
    box-sizing: border-box;
}

.apply-to {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.apply-to input {
    margin-right: 0.5rem;
}

.form-action-buttons {
    text-align: center;
    margin-top: 2rem;
}

.form-action-buttons input,
.form-action-buttons button {
    padding: 1rem 2rem;
    border: none;
    background: var(--darkblue);
    color: white;
    border-color: var(--box-shadow);
    border-radius: 0.4rem;
    cursor: pointer;
}

.form-action-buttons input:hover,
.form-action-buttons button:hover {
    background: var(--blue);
}

.apply-to {
    display: inline-flex;
    /* Display inline as a flex container */
    align-items: center;
}

.apply-to input {
    margin-right: 0.5rem;
    display: inline;
    /* Display checkboxes inline */
    transform: translateY(145%);
}


.date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

input {
    height: 20px;
    border: 1px solid gray;
}

.form-section {
    margin-bottom: 0;
}

input[type='submit'] {
    height: 100%;
    padding: 10px 20px;
}











/* Media Queries */
@media (max-width: 768px) {
    .form-row label {
        flex: 1 1 100%;
    }

    .form-row input,
    .form-row select {
        flex: 1 1 100%;
    }
}