@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue: #0abde3;
    --darkblue: #00004C;
    --light-color: #666;
    --bg: #e4e2e2;
    --white-color: #ffffff;
    --border: 0.1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.form-wrapper {
    margin: 5% 0;
    width: 70%;
}

.form-container {
    border: 1px solid #ddd;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-header h2 {
    margin: 0;
    text-align: center;
}

.view-all-button,
.form-buttons button,
.form-action-buttons button {
    padding: 10px 20px;
    border: none;
    background: var(--darkblue);
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.view-all-button:hover,
.form-buttons button:hover,
.form-action-buttons button:hover {
    background: var(--blue);
}

.form-section {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.or-group {
    display: flex;
    align-items: center;
}

.or-text {
    margin: 0 10px;
    font-weight: bold;
    align-self: center;
}

.form-group label {
    margin-bottom: 8px;
}

.form-group input {
    padding: 8px;
    box-sizing: border-box;
    border: var(--border);
    border-radius: 4px;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th,
td {
    border: var(--border);
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.form-buttons,
.form-action-buttons {
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 800px) {
    .form-container {
        max-width: 90%;
    }
}